*.db
.venv*
__pycache__/
*.pyc
.env
.DS_Store
.idea/
.vscode/
node_modules/
dist/
build/
*.log
coverage/
*.egg-info/
.eggs/
pip-wheel-metadata/ 
.mypy_cache/
.pytest_cache/
htmlcov/
.tox/
.cache/     
*.sqlite3   
*.bak
*.swp   
*.csv
*.gz
*.sql

*.jsonl
*.pkl
*.index

*.pth
my_model/*
my_model_v2/*
my_model_v3/*
my_model*
cache_dir/*
checkpoints/*
claim_detector_model/*
runs/*
nli_train.json